<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ayman_Salama</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ayman_Salama.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <div class="login-button-container">
                    <a href="login.html" class="login-button">تسجيل الدخول</a>
                </div>                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">




                        <div class="A2_Navbar">
                            <!-- روابط التنقل -->
                            <div class="animate__animated animate__zoomIn mb-4">
                                <a asp-controller="Home" asp-action="index">🏠 الرئيسية</a>
                                <a asp-controller="Home" asp-action="About">👤 من أنا</a>
                                <a asp-controller="Home" asp-action="Skills">🧠 المهارات</a>
                                <a asp-controller="Home" asp-action="Projects">📁 المشاريع</a>
                                <a asp-controller="Home" asp-action="Goals">🎯 الأهداف</a>
                                <a asp-controller="Home" asp-action="Contact" class="active">📬 تواصل معنا</a>
                            </div>
                        </div>










                        



                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            

                <div class="A5_Marque">

                    <marquee behavior="" direction="right">
                        مرحبًا بكم في صفحتي الشخصية! أنا أيمن سلامة، مطور ويب ومصمم واجهات مستخدم. أعمل على إنشاء تجارب رقمية مبتكرة وجذابة.مرحبًا بكم في صفحتي الشخصية! أنا أيمن سلامة، مطور ويب ومصمم واجهات مستخدم. أعمل على إنشاء تجارب رقمية مبتكرة وجذابة.
                    </marquee>
                    <br>
                    <br>

                    <p class="custom-paragraph">
                        نحن نُعتبر الخيار الأمثل لعملائنا الباحثين
                        عن تطبيقات تقنية متقدمة وخدمات
                        احترافية. كما تضمن شركتنا تلبية
                        احتياجات العملاء وتقديم حلول مبتكرة
                        تساعدهم على النجاح في العالم
                        الرقمي.
                    </p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/ayman.salama.48" target="_blank" class="facebook-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://wa.me/1501435003" target="_blank" class="whatsapp-icon">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                    </div>


                    <br>
                    <br>
                    <br>
                </div>

                <p>© 2025 أيمن سلامة. جميع الحقوق محفوظة.</p>
           
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
